<div class="home-container">
    <header class="home-header">
      <h2>Welcome, {{ loggedInUser }}</h2>
    </header>
    <a routerLink="/user-detail">View Your Profile</a>
      <!-- Loader -->
  <div class="loader-container" *ngIf="loading">
    <div class="spinner"></div>
    <p>Loading your albums...</p>
  </div>
    <section class="album-summary">
      <div class="album-info">
        <h3>Your Albums</h3>
        <p>You have {{ albumCount }} albums</p>
      </div>
    </section>
  
    <section class="album-list">
      <h4>Albums</h4>
      <div class="album" *ngFor="let album of albums">
        <div class="album-cover" [ngClass]="{'cover1': album.title === 'A Thousand Suns', 
                                             'cover2': album.title === 'Astro World', 
                                             'cover3': album.title === 'Jesus is King', 
                                             'cover4': album.title === 'Utopia'}">
        </div>
        <div class="album-details">
          <h5>{{ album.title }}</h5>
          <p>{{ album.artist }}</p>
          <p>{{ album.songs }} songs</p>
        </div>
      </div>
    </section>
  </div>
  